In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('/Users/andrewkerr/Downloads/CrossRegionalData (2).csv')
data

                              Address  Lead  No Lead        City         State
0                 5460 W PRENTICE CIR     0        1      Denver      Colorado
1                     1119 S ALTON CT     0        1      Denver      Colorado
2                     1995 E OTERO LN     0        1      Denver      Colorado
3                     44 COVINGTON CT     0        1      Denver      Colorado
4                     1115 GAYLORD ST     1        0      Denver      Colorado
...                               ...   ...      ...         ...           ...
299995     4514 PARNELL ST PARNELL ST     0        0  Pittsburgh  Pennsylvania
299996            442 52ND ST 52ND ST     0        0  Pittsburgh  Pennsylvania
299997    WASHINGTON PL WASHINGTON PL     0        0  Pittsburgh  Pennsylvania
299998  714-724 MANILLA ST MANILLA ST     0        1  Pittsburgh  Pennsylvania
299999   2217 BEDFORD AVE BEDFORD AVE     0        0  Pittsburgh  Pennsylvania

[300000 rows x 5 columns]

In [5]:
pitt = data[data['City'] == 'Pittsburgh']
pitt

,Address,Lead,No Lead,City,State
240000,BOROUGH ST,0,0,Pittsburgh,Pennsylvania
240001,1520 BUENA VISTA ST BUENA VISTA ST,0,1,Pittsburgh,Pennsylvania
240002,7212 SUSQUEHANNA ST SUSQUEHANNA ST,0,1,Pittsburgh,Pennsylvania
240003,5243 B DUNCAN ST DUNCAN ST,0,1,Pittsburgh,Pennsylvania
240004,6949 1/2 FRANKSTOWN AVE FRANKSTOWN AVE,0,1,Pittsburgh,Pennsylvania
...,...,...,...,...,...
299995,4514 PARNELL ST PARNELL ST,0,0,Pittsburgh,Pennsylvania
299996,442 52ND ST 52ND ST,0,0,Pittsburgh,Pennsylvania
299997,WASHINGTON PL WASHINGTON PL,0,0,Pittsburgh,Pennsylvania
299998,714-724 MANILLA ST MANILLA ST,0,1,Pittsburgh,Pennsylvania
299999,2217 BEDFORD AVE BEDFORD AVE,0,0,Pittsburgh,Pennsylvania

In [13]:
pitt[pitt['Address'].str.len() < 20]['Address']

240000             BOROUGH ST
240066    900 5TH AVE 5TH AVE
240083    323 MAIN ST MAIN ST
240096    119 1ST AVE 1ST AVE
240121    608 52ND ST 52ND ST
                 ...
299938       1912 FOX FOX WAY
299980    0 LYTLE ST LYTLE ST
299993    0 BATES ST BATES ST
299994    190 HOME ST HOME ST
299996    442 52ND ST 52ND ST
Name: Address, Length: 2665, dtype: object

In [21]:
def remove_duplicates(row):
    words = row.split()
    unique_words = []
    for word in words:
        if word not in unique_words:
            unique_words.append(word)
    return ' '.join(unique_words)

In [22]:
remove_duplicates('900 5TH AVE 5TH AVE')

'900 5TH AVE'

In [23]:
pitt['Address'] = pitt['Address'].apply(lambda x: remove_duplicates(x))
pitt

/var/folders/4x/12hsw44n14sgp38ys227k7qm0000gn/T/ipykernel_12637/3792397962.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pitt['Address'] = pitt['Address'].apply(lambda x: remove_duplicates(x))

                        Address  Lead  No Lead        City         State
240000               BOROUGH ST     0        0  Pittsburgh  Pennsylvania
240001      1520 BUENA VISTA ST     0        1  Pittsburgh  Pennsylvania
240002      7212 SUSQUEHANNA ST     0        1  Pittsburgh  Pennsylvania
240003         5243 B DUNCAN ST     0        1  Pittsburgh  Pennsylvania
240004  6949 1/2 FRANKSTOWN AVE     0        1  Pittsburgh  Pennsylvania
...                         ...   ...      ...         ...           ...
299995          4514 PARNELL ST     0        0  Pittsburgh  Pennsylvania
299996              442 52ND ST     0        0  Pittsburgh  Pennsylvania
299997            WASHINGTON PL     0        0  Pittsburgh  Pennsylvania
299998       714-724 MANILLA ST     0        1  Pittsburgh  Pennsylvania
299999         2217 BEDFORD AVE     0        0  Pittsburgh  Pennsylvania

[60000 rows x 5 columns]

In [24]:
without_pitt = data[data['City'] != 'Pittsburgh']
without_pitt

                       Address  Lead  No Lead     City       State
0          5460 W PRENTICE CIR     0        1   Denver    Colorado
1              1119 S ALTON CT     0        1   Denver    Colorado
2              1995 E OTERO LN     0        1   Denver    Colorado
3              44 COVINGTON CT     0        1   Denver    Colorado
4              1115 GAYLORD ST     1        0   Denver    Colorado
...                        ...   ...      ...      ...         ...
239995             41 GRAND ST     0        0  Trenton  New Jersey
239996          28 STONEHAM RD     0        0  Trenton  New Jersey
239997  613 MARTIN LUTHER KING     0        0  Trenton  New Jersey
239998       143 LAWN PARK AVE     0        0  Trenton  New Jersey
239999         148 HOFFMAN AVE     0        0  Trenton  New Jersey

[240000 rows x 5 columns]

In [25]:
result = pd.concat([without_pitt, pitt])
result

                    Address  Lead  No Lead        City         State
0       5460 W PRENTICE CIR     0        1      Denver      Colorado
1           1119 S ALTON CT     0        1      Denver      Colorado
2           1995 E OTERO LN     0        1      Denver      Colorado
3           44 COVINGTON CT     0        1      Denver      Colorado
4           1115 GAYLORD ST     1        0      Denver      Colorado
...                     ...   ...      ...         ...           ...
299995      4514 PARNELL ST     0        0  Pittsburgh  Pennsylvania
299996          442 52ND ST     0        0  Pittsburgh  Pennsylvania
299997        WASHINGTON PL     0        0  Pittsburgh  Pennsylvania
299998   714-724 MANILLA ST     0        1  Pittsburgh  Pennsylvania
299999     2217 BEDFORD AVE     0        0  Pittsburgh  Pennsylvania

[300000 rows x 5 columns]

In [29]:
census = pd.read_csv('/Users/andrewkerr/Downloads/census_normalized_with_year.csv')
census

,Unnamed: 0,abbreviatedAddress,bathrooms,bedrooms,city,cityId,county,countyFIPS,countyId,homeType,...,Asian alone,Native Hawaiian and Other Pacific Islander alone,Some Other Race alone,Population 18 to 24 years,Population 25 years and over,Population 25 to 34 years,Population 35 to 44 years,Population 45 to 64 years,Population 65 years and over,Income normalized
0,0,5440 Bryant St,3.0,3.0,Denver,119221.0,Adams County,NaN,353.0,SINGLE_FAMILY,...,0.026436,0.001509,0.004868,0.084748,0.457626,0.117478,0.098768,0.158172,0.083208,326.024896
1,1,7776 Vallejo St,2.0,4.0,Denver,120381.0,Adams County,8001.0,353.0,SINGLE_FAMILY,...,0.026436,0.001509,0.004868,0.084748,0.457626,0.117478,0.098768,0.158172,0.083208,326.024896
2,2,7664 Raritan St,2.0,5.0,Denver,120381.0,Adams County,8001.0,353.0,SINGLE_FAMILY,...,0.026436,0.001509,0.004868,0.084748,0.457626,0.117478,0.098768,0.158172,0.083208,326.024896
3,3,5031 Zuni St,2.0,3.0,Denver,11093.0,Denver County,8031.0,989.0,SINGLE_FAMILY,...,0.026436,0.001509,0.004868,0.084748,0.457626,0.117478,0.098768,0.158172,0.083208,326.024896
4,4,7028 Lipan St,2.0,3.0,Denver,7507.0,Adams County,8001.0,353.0,SINGLE_FAMILY,...,0.026436,0.001509,0.004868,0.084748,0.457626,0.117478,0.098768,0.158172,0.083208,326.024896
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79926,79926,2036 Whitehorse Hamilton Square Rd,NaN,NaN,Trenton,41279.0,Mercer County,NaN,1201.0,HOME_TYPE_UNKNOWN,...,0.036306,0.000000,0.009934,0.056095,0.471953,0.059669,0.080376,0.174766,0.157142,495.642738
79927,79927,27 Dunmoor Ct S,NaN,NaN,Trenton,41279.0,Mercer County,34021.0,1201.0,SINGLE_FAMILY,...,0.036306,0.000000,0.009934,0.056095,0.471953,0.059669,0.080376,0.174766,0.157142,495.642738
79928,79928,2 Dunmoor Ct S,3.0,3.0,Trenton,41279.0,Mercer County,34021.0,1201.0,TOWNHOUSE,...,0.036306,0.000000,0.009934,0.056095,0.471953,0.059669,0.080376,0.174766,0.157142,495.642738
79929,79929,1802 Kuser Rd #114,1.0,1.0,Trenton,41279.0,Mercer County,NaN,1201.0,APARTMENT,...,0.036306,0.000000,0.009934,0.056095,0.471953,0.059669,0.080376,0.174766,0.157142,495.642738
79930,79930,2445 Kuser Rd,NaN,NaN,Trenton,41279.0,Mercer County,NaN,1201.0,HOME_TYPE_UNKNOWN,...,0.036306,0.000000,0.009934,0.056095,0.471953,0.059669,0.080376,0.174766,0.157142,495.642738

In [30]:
census['abbreviatedAddress'] = census['abbreviatedAddress'].str.lower()
census

,Unnamed: 0,abbreviatedAddress,bathrooms,bedrooms,city,cityId,county,countyFIPS,countyId,homeType,...,Asian alone,Native Hawaiian and Other Pacific Islander alone,Some Other Race alone,Population 18 to 24 years,Population 25 years and over,Population 25 to 34 years,Population 35 to 44 years,Population 45 to 64 years,Population 65 years and over,Income normalized
0,0,5440 bryant st,3.0,3.0,Denver,119221.0,Adams County,NaN,353.0,SINGLE_FAMILY,...,0.026436,0.001509,0.004868,0.084748,0.457626,0.117478,0.098768,0.158172,0.083208,326.024896
1,1,7776 vallejo st,2.0,4.0,Denver,120381.0,Adams County,8001.0,353.0,SINGLE_FAMILY,...,0.026436,0.001509,0.004868,0.084748,0.457626,0.117478,0.098768,0.158172,0.083208,326.024896
2,2,7664 raritan st,2.0,5.0,Denver,120381.0,Adams County,8001.0,353.0,SINGLE_FAMILY,...,0.026436,0.001509,0.004868,0.084748,0.457626,0.117478,0.098768,0.158172,0.083208,326.024896
3,3,5031 zuni st,2.0,3.0,Denver,11093.0,Denver County,8031.0,989.0,SINGLE_FAMILY,...,0.026436,0.001509,0.004868,0.084748,0.457626,0.117478,0.098768,0.158172,0.083208,326.024896
4,4,7028 lipan st,2.0,3.0,Denver,7507.0,Adams County,8001.0,353.0,SINGLE_FAMILY,...,0.026436,0.001509,0.004868,0.084748,0.457626,0.117478,0.098768,0.158172,0.083208,326.024896
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79926,79926,2036 whitehorse hamilton square rd,NaN,NaN,Trenton,41279.0,Mercer County,NaN,1201.0,HOME_TYPE_UNKNOWN,...,0.036306,0.000000,0.009934,0.056095,0.471953,0.059669,0.080376,0.174766,0.157142,495.642738
79927,79927,27 dunmoor ct s,NaN,NaN,Trenton,41279.0,Mercer County,34021.0,1201.0,SINGLE_FAMILY,...,0.036306,0.000000,0.009934,0.056095,0.471953,0.059669,0.080376,0.174766,0.157142,495.642738
79928,79928,2 dunmoor ct s,3.0,3.0,Trenton,41279.0,Mercer County,34021.0,1201.0,TOWNHOUSE,...,0.036306,0.000000,0.009934,0.056095,0.471953,0.059669,0.080376,0.174766,0.157142,495.642738
79929,79929,1802 kuser rd #114,1.0,1.0,Trenton,41279.0,Mercer County,NaN,1201.0,APARTMENT,...,0.036306,0.000000,0.009934,0.056095,0.471953,0.059669,0.080376,0.174766,0.157142,495.642738
79930,79930,2445 kuser rd,NaN,NaN,Trenton,41279.0,Mercer County,NaN,1201.0,HOME_TYPE_UNKNOWN,...,0.036306,0.000000,0.009934,0.056095,0.471953,0.059669,0.080376,0.174766,0.157142,495.642738

In [31]:
result['Address'] = result['Address'].str.lower()
result['Address']

0         5460 w prentice cir
1             1119 s alton ct
2             1995 e otero ln
3             44 covington ct
4             1115 gaylord st
                 ...
299995        4514 parnell st
299996            442 52nd st
299997          washington pl
299998     714-724 manilla st
299999       2217 bedford ave
Name: Address, Length: 300000, dtype: object

In [32]:
merge = result.merge(census, left_on = 'Address', right_on = 'abbreviatedAddress')
merge = merge.drop(columns = ['No Lead', 'Unnamed: 0', 'abbreviatedAddress', 'City', 'State', 'streetAddress'])
merge

,Address,Lead,bathrooms,bedrooms,city,cityId,county,countyFIPS,countyId,homeType,...,Asian alone,Native Hawaiian and Other Pacific Islander alone,Some Other Race alone,Population 18 to 24 years,Population 25 years and over,Population 25 to 34 years,Population 35 to 44 years,Population 45 to 64 years,Population 65 years and over,Income normalized
0,5460 w prentice cir,0,2.5,2.0,Denver,8179.0,Jefferson County,8031.0,2734.0,SINGLE_FAMILY,...,0.046394,0.000398,0.004198,0.040910,0.479545,0.105734,0.089655,0.166394,0.117762,433.452282
1,5164 jasper ct,0,2.0,3.0,Denver,11093.0,Denver County,8031.0,989.0,SINGLE_FAMILY,...,0.028902,0.013083,0.003093,0.074047,0.462977,0.151182,0.117735,0.138708,0.055352,294.547718
2,10364 e 60th pl,0,2.5,3.0,Denver,11093.0,Denver County,8031.0,989.0,SINGLE_FAMILY,...,0.063165,0.000444,0.005470,0.015398,0.492301,0.099922,0.174527,0.166810,0.051042,667.070539
3,6550 e mississippi ave,0,NaN,NaN,Denver,11093.0,Denver County,8031.0,989.0,CONDO,...,0.035552,0.000712,0.007833,0.044348,0.477826,0.124716,0.109866,0.131639,0.111605,361.751037
4,4364 liverpool ct,0,3.0,3.0,Denver,11093.0,Denver County,8031.0,989.0,SINGLE_FAMILY,...,0.098003,0.007880,0.005803,0.082812,0.458594,0.121158,0.107382,0.170578,0.059476,358.323651
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70545,1912 fox way,0,1.0,3.0,Pittsburgh,26529.0,Allegheny County,42003.0,2614.0,SINGLE_FAMILY,...,0.026628,0.000000,0.000138,0.172016,0.413992,0.211845,0.058012,0.081679,0.062457,501.057082
70546,5626 donson way,0,1.0,2.0,Pittsburgh,26529.0,Allegheny County,42003.0,2614.0,SINGLE_FAMILY,...,0.020470,0.000000,0.008629,0.035207,0.482397,0.191741,0.080473,0.126313,0.083870,536.945032
70547,351 manion way,0,4.0,4.0,Pittsburgh,26529.0,Allegheny County,42003.0,2614.0,SINGLE_FAMILY,...,0.020470,0.000000,0.008629,0.035207,0.482397,0.191741,0.080473,0.126313,0.083870,536.945032
70548,3747 frazier st,0,NaN,NaN,Pittsburgh,26529.0,Allegheny County,42003.0,2614.0,HOME_TYPE_UNKNOWN,...,0.160050,0.000000,0.004072,0.501342,0.249329,0.089258,0.019010,0.069429,0.071632,350.835095
70549,440 wyola st,0,3.0,3.0,Pittsburgh,26529.0,Allegheny County,42003.0,2614.0,SINGLE_FAMILY,...,0.015076,0.000000,0.006292,0.059990,0.470005,0.181585,0.051523,0.137971,0.098925,465.517970

In [34]:
merge.to_csv('final_dataset.csv', index=False)