In [ ]:
import pandas as pd
import random

denver = pd.read_csv('/work/denver.csv') 
dc = pd.read_csv('/work/dc.csv')
cinc = pd.read_csv('/work/cinc.csv')
trent = pd.read_csv('/work/trent.csv')
pitt = pd.read_csv('/work/pitt.csv')

/shared-libs/python3.9/py-core/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3139: DtypeWarning: Columns (33,53,55,58,59) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/shared-libs/python3.9/py-core/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3139: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [ ]:
#Total initial rows
total_rows = len(denver) + len(dc)+ len(cinc) + len(trent) + len(pitt)
print(total_rows)

#number random rows to drop
print(total_rows - 300000) 
#need 300000/5 = 60000 rows per dataset

545842
245842

In [ ]:
#DENVER
denver = denver[['prem_full_addr','lsli_final_lead_cat' ]]
denver_lead = pd.get_dummies(denver['lsli_final_lead_cat'])

denver = pd.concat([denver, denver_lead], axis = 1).drop('lsli_final_lead_cat', axis = 1)
denver['City'] = 'Denver'
denver['State'] = 'Colorado'
denver = denver.rename(columns = {'prem_full_addr': 'Address', 'Confirmed lead service line; included in replacement program.': 'Lead', 'No lead service line.': 'No Lead'})
denver['Address'] = denver['Address'].drop_duplicates()
denver = denver.dropna()
num_rows_to_drop = len(denver) - 60000
# Generate a list of random row indices to drop
random_indices = random.sample(denver.index.tolist(), num_rows_to_drop)

# Drop the randomly selected rows
denver = denver.drop(random_indices)

lead_count = len(denver[denver['Lead']==1])

print('Total row count:')
print(len(denver))
print('Lead count:')
print(lead_count)
print('dupes:')
print(denver[denver['Address'].duplicated()])
denver 


#0 na values for lsli_final_lead_cat
#important columns: prem_full_addr, parcelyearbuilt, servicearea, mediumhouseholdincome2015, point_x,
# point_y, denver_district, lsli_final_lead_cat, NHNAME, Length

Total row count:
60000
Lead count:
7095
dupes:
Empty DataFrame
Columns: [Address, Lead, No Lead, City, State]
Index: []

                   Address  Lead  No Lead    City     State
7          4702 S XENIA ST     0        1  Denver  Colorado
8          1119 S ALTON CT     0        1  Denver  Colorado
12      7067 S GARRISON ST     0        1  Denver  Colorado
16         20732 E 38TH PL     0        1  Denver  Colorado
20           7118 HURON ST     0        1  Denver  Colorado
...                    ...   ...      ...     ...       ...
193474       2437 GROVE ST     0        1  Denver  Colorado
193480     5224 E 23RD AVE     0        1  Denver  Colorado
193482        117 GROVE ST     0        1  Denver  Colorado
193484         468 INCA ST     0        1  Denver  Colorado
193493   4430 COLUMBINE ST     0        1  Denver  Colorado

[60000 rows x 5 columns]

In [ ]:
#DC
dc.head()

dc = dc.dropna(subset=['PublicSymbol'])

num_rows_to_drop = len(dc) - 60000


dc = dc[['PremiseAddress','PublicSymbol']]
dc_lead = pd.get_dummies(dc['PublicSymbol'])
dc = pd.concat([dc, dc_lead], axis = 1).drop('PublicSymbol', axis = 1)
dc['City'] = 'DC'
dc['State'] = 'Washington'
dc= dc.rename(columns = {'PremiseAddress': 'Address', 'NonLead': 'No Lead'}).drop('Unknown', axis = 1)
dc['Address'] = dc['Address'].drop_duplicates()
dc = dc.dropna()
num_rows_to_drop = len(dc) - 60000
# Generate a list of random row indices to drop
random_indices = random.sample(dc.index.tolist(), num_rows_to_drop)

# Drop the randomly selected rows
dc = dc.drop(random_indices)
lead_count = len(dc[dc['Lead']==1])
print('Total row count:')
print(len(dc))
print('Lead count:')
print(lead_count)
print('dupes:')
print(dc[dc['Address'].duplicated()])
dc 


#important columns: PremiseAddress, PublicServiceMaterialType, PublicSymbol, PrivateServiceMaterialType, PrivateSymbol
#

Total row count:
60000
Lead count:
3988
dupes:
Empty DataFrame
Columns: [Address, Lead, No Lead, City, State]
Index: []

                         Address  Lead  No Lead City       State
2                 730 12TH ST NW     0        1   DC  Washington
3        1127 CONNECTICUT AVE NW     0        1   DC  Washington
5                1701 16TH ST NW     0        1   DC  Washington
6            1420 COLUMBIA RD NW     0        1   DC  Washington
7        2700 CONNECTICUT AVE NW     0        1   DC  Washington
...                          ...   ...      ...  ...         ...
127948          1385 CANAL ST SE     0        0   DC  Washington
127951             924 5TH ST NW     0        1   DC  Washington
127953      5537 HAWTHORNE PL NW     0        1   DC  Washington
127954                 7 M ST NE     0        1   DC  Washington
127957  6822 GENERAL DAVIS DR NW     0        1   DC  Washington

[60000 rows x 5 columns]

In [ ]:
#CINCINATTI

cinc = cinc.dropna(subset=['CITYSERVICEMAT'])

cinc = cinc[['PROPADDRESS','CITYSERVICEMAT']]
cinc_lead = pd.get_dummies(cinc['CITYSERVICEMAT'])
cinc = pd.concat([cinc, cinc_lead], axis = 1).drop('CITYSERVICEMAT', axis = 1)
cinc['City'] = 'Cincinnati'
cinc['State'] = 'Ohio'
cinc = cinc.rename(columns = {'PROPADDRESS': 'Address', 'LEAD': 'Lead'})
cinc['Address'] = cinc['Address'].drop_duplicates()
cinc = cinc.dropna()
num_rows_to_drop = len(cinc) - 60000
# Generate a list of random row indices to drop
random_indices = random.sample(cinc.index.tolist(), num_rows_to_drop)

# Drop the randomly selected rows
cinc = cinc.drop(random_indices)

# Define a mapping dictionary or function
mapping = {1: 0, 0: 1}

# Use the map function to create a new column
cinc['No Lead'] = cinc['Lead'].map(mapping)
cinc = cinc[['Address', 'Lead', 'No Lead', 'City', 'State']]
lead_count = len(cinc[cinc['Lead']==1])
print('Total row count:')
print(len(cinc))
print('Lead count:')
print(lead_count)
print('dupes:')
print(cinc[cinc['Address'].duplicated()])
cinc
#PROPADDRESS, TAPLOCATION, CITYSERVICESIZE, CITYSERVICEMAT, PVTSERVICESIZE, PVTSERVICEMAT

Total row count:
60000
Lead count:
10677
dupes:
Empty DataFrame
Columns: [Address, Lead, No Lead, City, State]
Index: []

                       Address  Lead  No Lead        City State
0            410 BARKER AVE NW     0        1  Cincinnati  Ohio
1            413 BARKER AVE NW     0        1  Cincinnati  Ohio
2            418 BARKER AVE NW     0        1  Cincinnati  Ohio
3            419 BARKER AVE NW     0        1  Cincinnati  Ohio
4            422 BARKER AVE NW     0        1  Cincinnati  Ohio
...                        ...   ...      ...         ...   ...
80924       1162 WILSON AVE NW     0        1  Cincinnati  Ohio
80930       1439 MARLIN AVE NW     0        1  Cincinnati  Ohio
80931       5644 CASCADE RD SE     0        1  Cincinnati  Ohio
80932  3101 FRUIT RIDGE AVE NW     0        1  Cincinnati  Ohio
80941      756 ALEXANDER ST SE     0        1  Cincinnati  Ohio

[60000 rows x 5 columns]

In [ ]:
#TRENTON

trent = trent.dropna(subset=['TWWFinalMat'])

trent = trent[['ServiceLocation','TWWFinalMat']]
trent_lead = pd.get_dummies(trent['TWWFinalMat'])
trent = pd.concat([trent, trent_lead], axis = 1).drop('TWWFinalMat', axis = 1)
trent['City'] = 'Trenton'
trent['State'] = 'New Jersey'
trent= trent.rename(columns = {'ServiceLocation': 'Address', 'LEAD': 'Lead', 'Not Lead': 'No Lead'})
trent = trent[['Address', 'Lead', 'No Lead', 'City', 'State']]

trent['Address'] = trent['Address'].drop_duplicates()
trent = trent.dropna()

num_rows_to_drop = len(trent) - 60000
# Generate a list of random row indices to drop
random_indices = random.sample(trent.index.tolist(), num_rows_to_drop)

# Drop the randomly selected rows
trent = trent.drop(random_indices)

lead_count = len(trent[trent['Lead']==1])
print('Total row count:')
print(len(trent))
print('Lead count:')
print(lead_count)
print('dupes:')
print(trent[trent['Address'].duplicated()])

trent

# important columns: ServiceLocation, TWWFinalMat

Total row count:
60000
Lead count:
13077
dupes:
Empty DataFrame
Columns: [Address, Lead, No Lead, City, State]
Index: []

                      Address  Lead  No Lead     City       State
0              1 ABERNETHY DR     0        0  Trenton  New Jersey
1              2 ABERNETHY DR     0        0  Trenton  New Jersey
2              3 ABERNETHY DR     0        0  Trenton  New Jersey
3              5 ABERNETHY DR     0        0  Trenton  New Jersey
4              6 ABERNETHY DR     0        0  Trenton  New Jersey
...                       ...   ...      ...      ...         ...
62532             41 GRAND ST     0        0  Trenton  New Jersey
62533          28 STONEHAM RD     0        0  Trenton  New Jersey
62534  613 MARTIN LUTHER KING     0        0  Trenton  New Jersey
62535       143 LAWN PARK AVE     0        0  Trenton  New Jersey
62536         148 HOFFMAN AVE     0        0  Trenton  New Jersey

[60000 rows x 5 columns]

In [ ]:
#PITTSBURGH

pitt = pitt.dropna(subset=['FinalReportedMaterialPublic'])

pitt['Address'] = pitt[pitt['Address'] !='EWING STREET']
pitt['Address'] = pitt['Address'].astype(str) + ' ' + pitt['Street']
pitt['City'] = 'Pittsburgh'
pitt['State'] = 'Pennsylvania'


pitt_lead = pd.get_dummies(pitt['FinalReportedMaterialPublic'])
pitt = pd.concat([pitt, pitt_lead], axis = 1).drop('FinalReportedMaterialPublic', axis = 1)

pitt = pitt[['Address', 'Lead', 'NonLead', 'City', 'State']]
pitt = pitt.rename(columns = {'NonLead': 'No Lead'})
pitt = pitt.dropna(subset=['Address'])

pitt['Address'] = pitt['Address'].drop_duplicates()
pitt = pitt.dropna()
num_rows_to_drop = len(pitt) - 60000
# Generate a list of random row indices to drop
random_indices = random.sample(pitt.index.tolist(), num_rows_to_drop)

# Drop the randomly selected rows
pitt = pitt.drop(random_indices)

lead_count = len(pitt[pitt['Lead']==1])
print('Total row count:')
print(len(pitt))
print('Lead count:')
print(lead_count)
print('dupes:')
print(pitt[pitt['Address'].duplicated()])

pitt

Total row count:
60000
Lead count:
6865
dupes:
Empty DataFrame
Columns: [Address, Lead, No Lead, City, State]
Index: []

                   Address  Lead  No Lead        City         State
0             1 BOROUGH ST     0        0  Pittsburgh  Pennsylvania
7            8 PROSPECT ST     0        1  Pittsburgh  Pennsylvania
11       12 BUENA VISTA ST     0        1  Pittsburgh  Pennsylvania
15            16 DUNCAN ST     0        1  Pittsburgh  Pennsylvania
18       19 FRANKSTOWN AVE     0        1  Pittsburgh  Pennsylvania
...                    ...   ...      ...         ...           ...
80892    80893 DRESDEN WAY     0        0  Pittsburgh  Pennsylvania
80893        80894 52ND ST     0        0  Pittsburgh  Pennsylvania
80894  80895 WASHINGTON PL     0        0  Pittsburgh  Pennsylvania
80895     80896 MANILLA ST     0        1  Pittsburgh  Pennsylvania
80896    80897 BEDFORD AVE     0        0  Pittsburgh  Pennsylvania

[60000 rows x 5 columns]

In [ ]:
#Fuse all data together
cross_regional = pd.concat([denver, dc, cinc, trent, pitt], ignore_index=True)
cross_regional[cross_regional['Lead']==1]
#cross_regional.to_csv('CrossRegionalData.csv', sep=',', index=False, encoding='utf-8')

                     Address  Lead  No Lead        City         State
6            1115 GAYLORD ST     1        0      Denver      Colorado
31            1529 DAHLIA ST     1        0      Denver      Colorado
49           1132 S LOGAN ST     1        0      Denver      Colorado
62         2336 S BANNOCK ST     1        0      Denver      Colorado
64      1950 S WASHINGTON ST     1        0      Denver      Colorado
...                      ...   ...      ...         ...           ...
299708  80513 GLEN CALADH ST     1        0  Pittsburgh  Pennsylvania
299709  80514 WINTERBURN AVE     1        0  Pittsburgh  Pennsylvania
299721     80529 OAKLAND AVE     1        0  Pittsburgh  Pennsylvania
299868    80723 MARSHALL AVE     1        0  Pittsburgh  Pennsylvania
299875     80732 E CARSON ST     1        0  Pittsburgh  Pennsylvania

[40974 rows x 5 columns]

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=e6887830-9341-4177-abe6-b806085877e9' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>